<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>niu.missioncontrol</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/zaryu/Desktop/Niumination/services/niu-mission-control/start.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/zaryu/Desktop/Niumination/services/niu-mission-control</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>StandardOutPath</key>
    <string>/Users/zaryu/Desktop/Niumination/brain/ops/mc.stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/zaryu/Desktop/Niumination/brain/ops/mc.stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NODE_PATH</key>
        <string>/Users/zaryu/Desktop/Niumination/services/niu-mission-control/apex-ui/node_modules</string>
    </dict>
</dict>
</plist>
